extend layout_1_3
block content
	#page-adminpw(data-role="page")
		div(data-role="header")
			a(href="/club/#{clubname}", data-icon="home") Club Home
			h1 Change Admin Password
		div(data-role="content")
			form(action="/club/#{clubname}/admin/changepassword", method="POST")
				.fieldcontain
					label(for="pw") New Password
					input#pw(name="pw")
				p 
					input(type="submit", value="Change Password")