extends layout
block content
	div#page-clubchooser(data-role="page")
		div(data-role="header")
			h1 AXti.me Setup
		div(data-role="content")
			div(class="logo-horiz")
				img(src="/css/images/axtime-logo-horizontal.png",alt="AXti.me logo")
			h1 Setup your AXti.me RM system
			p #{message}
			p
				a(href="/", data-theme="b",data-role="button") Continue

			