extend layout_1_3
block head
block content
	#page-announcer(data-role="page")
		include menupanel-club
		div(data-role="header")
			a(href="#panelmenu", data-icon="bars") Menu
			h1 Roles Information
		div(data-role="content")
			div(class="logo-horiz")
				img(src="/css/images/axtime-logo-horizontal.png",alt="AXti.me logo")

			p We have introduced roles as a critical part of the system. In other systems, the timer is responsible for everything which often creates information overload and a bit of panic when you are trying to enter car numbers, enter cones from the cone counter, mark a DNF, all while ensuring the times are coming in correctly for the correct car... all at the same exact time. That's a lot to ask, let alone a lot to ask with 100% accuracy or no delays.

			p With AXti.me RM Roles, we have broken out responsiblitiy: Time Keeper, Cone Counter and Car Queuer among others. Each now have their own customized screen tailored to the role's specific needs.

			p Most roles can login and are only allowed access to the screen(s) that are specific to their role.  This means, for example, a Cone Counter can't access the Time Keeper's screen, etc.

			h1 TIME KEEPER
			p The Time Keeper roles is the master. You can do all timing operations from this screen. Enter or correct times, mark DNF's/Reruns/Off Course, update cone counts and add/remove cars to the queue.  This role also can access the Cone Counter and Car Queuer screens.

			h1 CONE COUNTER
			p While the old way of the cone counter (to receive all the radio communication while also telling the timer about it) works ok, it does create congestion, missed cones and more strain on the timer. Now, the cone counter has their own screen and no need to communicate with anyone else. They simply press the +1 or -1 buttons to increase or decrease the cone count for a driver. Super easy. No communication breakdown. Less worry for the timer.

			h1 CAR QUEUER
			p Instead of the timer being responsible for entering car numbers, we have a role for that. The Car Queuer's sole responsibility is to enter cars into the queue in the correct order.

			h1 REGISTRAR
			p We took a page from the mobile design book. Simple screens to deliver the information you want, instead of one big screen with everything. You don't need to read a User Manual on how to use AXti.me RM or interact with it.

			h1 TECH INSPECTOR
			p We took a page from the mobile design book. Simple screens to deliver the information you want, instead of one big screen with everything. You don't need to read a User Manual on how to use AXti.me RM or interact with it.


