extend layout_1_3
block head
	script(src="/socket.io/socket.io.js")
	script(type="text/javascript").
		var eventId = "#{event.id}";
block content
	#page-announcer(data-role="page")
		include menupanel-event
		div(data-role="header")
			//a(href="/event/#{event.id}", data-icon="home") Event Home
			a(href="#panelmenu", data-icon="bars") Menu
			h1 Manual Timer
			div(class="ui-bar ui-bar-e")
				h3 #{event.name} #{event.date}
		div(data-role="content")
			h3 Demo Chrono Timer
			a#btn-start(data-role="button", data-theme="b",data-inline="true") Start
			a#btn-split(data-role="button", data-theme="b",data-inline="true") Split
			a#btn-stop(data-role="button",data-theme="b",data-inline="true") Finish 
			a#btn-reset(data-role="button",data-theme="b",data-inline="true") Reset Finish 
			a#btn-resetstart(data-role="button",data-theme="b",data-inline="true") Reset Start 
			a#btn-clear(data-role="button",data-theme="b",data-inline="true") Clear All

			div#timers.timers
			div.ui-grid-b
				.ui-block-a
					h3
					#times
				.ui-block-b
					h3
					#splits
				.ui-block-c
					h3
					#runs 
			

	script(src="/scripts/manualtimer.js")
