html
	head
		title Event Results
	body
		h2=ev.name
		table#layer-class
			thead
				tr
					td Position
					td Driver
					td Car
					td Best
					td Times
					td 
			tbody
			each 